/* RESET THE DEFAULT SPACING */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f9f9f9;
    color: #222;
    line-height: 1.6;
}

/* NAVBAR STYLING */
header{
    background-color: #222;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 600;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-links a:hover{
    color: #0077ff;
}

/* HERO SECTION STYLING */

.hero{
    max-width: 1100px;
    margin: auto;
    padding: 100px 30px;
    text-align: center;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero h1 span{
    color: #0077ff;
}

.hero h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.hero p{
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    background-color: blue;
    text-decoration: none;
    border-radius: 6px;
}

/* SECTIONS STYLING */

section{
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

section h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
}

/* About Section Styling */

.about p{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

/* Skills Section Styling */

.skills-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skills-container span{
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Project Section Styling */

.projects{
    text-align: center;
}

.project-container{
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
    border: 3px solid #111;
    border-radius: 10px;
}

.project-container h3{
    font-size: 2rem;
    border: 2px solid #111;
    margin: 10px;
    padding: 5px;
    background-color: #111;
    border-radius: 5px;
    color: #fff;
}

.project-container p{
    border: 2px solid #111;
    margin: 10px;
    color: #fff;
    background-color: #111;
    border-radius: 5px;
    padding: 5px;
}

.project-container:hover{
    background-color: #111;
}

.contact{
    text-align: center;
}

.contact a{
    text-decoration: none;
    color:#111
}

.contact a:hover{
    text-decoration: underline;
    color: #0077ff;
}

footer{
    padding: 40px;
    text-align: center;
    background-color: #111;
    color: #fff;
}

#menu-toggle{
    display: none;
}

.menu-btn{
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

@media(max-width:768px) {
    .hero h1{
        font-size: 2.2rem;
    }

    .menu-btn{
        display: block;
    }

    .nav-links{
        gap: 15px;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #222;
        width: 200px;
        flex-direction: column;
        align-items: center;        
        padding: 20px 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        display: none;
    }

    /* When Checkbox is toggled -> show menu */

    #menu-toggle:checked + .menu-btn + .nav-links{
        display: flex;
    }
}